<div>
	<form class="form-horizontal multiFieldsetForm">
		<fieldset>
			<legend>{{formTitle}}</legend>

			<div data-redmic-type="dateRangeTextBox" data-redmic-model="dateLimits"></div>

			<div data-redmic-type="multiSelect" data-redmic-model="accessibilityIds" data-redmic-props="
				target: 'accessibility',
				label: 'accessibility'
			"></div>

			<div data-redmic-type="mapSearch" class="mapSearchInput" data-redmic-model="bbox"
				 data-redmic-props="
					disabled: true
			"></div>
		</fieldset>

		<fieldset>
			<legend>{{formTitle}}</legend>

			<div data-redmic-type="boolean" data-redmic-model="starred" data-redmic-props="
				disabled: true
			"></div>

			<div data-redmic-type="boolean" data-redmic-model="resources" data-redmic-props="
				disabled: true
			"></div>

			<div data-redmic-type="default" data-redmic-model="resourceName"></div>
		</fieldset>
	</form>
</div>
