<div>
	<form class="form-horizontal multiFieldsetForm">
		<fieldset>
			<div data-redmic-type="mapSearch" class="mapSearchInput" data-redmic-model="bbox"
				 data-redmic-props="
					info: 'bboxFilterInfo',
					disabled: true
			"></div>
		</fieldset>
	</form>
</div>
