<div>
	<form class="form-horizontal">
		<fieldset>
			<legend>{{formTitle}}</legend>
			<div data-redmic-type="boolean" data-redmic-props="
				propertyName: 'isAphia',
				label: 'isAphia'
			"></div>
		</fieldset>
	</form>
</div>