<div>
	<form class="form-horizontal multiFieldsetForm">
		<fieldset>
			<legend>{{formTitle}}</legend>

			<div data-redmic-type="multiSelect" data-redmic-model="accessibilityIds" data-redmic-props="
				target: 'accessibility',
				label: 'accessibility',
				info: 'accessibilityFilterInfo'
			"></div>

			<div data-redmic-type="dateRangeTextBox" data-redmic-model="dateLimits" data-redmic-props="
				info: 'dateLimitsFilterInfo'
			"></div>

			<div data-redmic-type="select" data-redmic-model="status" data-redmic-props="
				label: 'activityStatus',
				info: 'activityStatusFilterInfo',
				disabled: true,
				options: [{
					'value': 1,
					'label': '{{Translate i18n 'activityStatusFirstValue'}}'
				},{
					'value': 2,
					'label': '{{Translate i18n 'activityStatusSecondValue'}}'
				},{
					'value': 3,
					'label': '{{Translate i18n 'activityStatusThirdValue'}}'
				}]
			"></div>

			<div data-redmic-type="mapSearch" class="mapSearchInput" data-redmic-model="bbox"
				 data-redmic-props="
					info: 'bboxFilterInfo',
					disabled: true
			"></div>
		</fieldset>
	</form>
</div>
