<span class='spanTemplate'>
	<span class='title'>
		<span class='name'>
			<span class='redIcon'>{{data.badIdentity.scientificName}}</span>
			<i class="fa fa-long-arrow-right"></i>
			<span class='greenIcon'>{{data.taxon.scientificName}}</span>
		</span>
	</span>
	<span class='subtitle'>
		{{ChkIsNull data.document.title}}
	</span>
</span>