<span class='spanTemplate'>
	<span class='title'>
		{{data.name}}
	</span>
	<span class='subtitle'>
		{{TextURL data.urlResource}}
	</span>
	<span class='subtitle'>
		{{data.description}}
	</span>
</span>
