<div class='templatePlaceholderContainer {{#if classTemplate}}{{classTemplate}}{{/if}}'>
	<span class='symbolG expandingOpenElement'>
		<i class='fr fr-no-data'></i>
		<span>{{i18n.noRegisteredData}}</span>
	</span>
</div>
