<div class='loadingContainer'>
	<div class='bubblingG bubblingG_1'>R</div>
	<div class='bubblingG bubblingG_2'>E</div>
	<div class='bubblingG bubblingG_3'>D</div>
	<div class='bubblingG bubblingG_4'>M</div>
	<div class='bubblingG bubblingG_5'>I</div>
	<div class='bubblingG bubblingG_6'>C</div>
</div>
