<div class='scrollWrapper'>
	<div class="detailsView">

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.descriptor}}</legend>
					<div class="detailsValue">
						<span>{{data.descriptor}}</span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.attributeType}}</legend>
					<div class="detailsValue">
						<span>{{data.attributeType.name}}</span>
					</div>
				</fieldset>
			</div>
		</div>

	</div>
</div>
