<span class='spanTemplate'>
	<span class='title'>
		<span class='name'>{{ChkIsNull data.descriptor}} </span>
	</span>
	<span class='subtitle'>
		{{#if data.attributeType}}
			{{lang data.attributeType}}
		{{/if}}
	</span>
</span>