<span class='spanTemplate'>
	<span class='title'>{{ChkIsNull data.surname}}, {{ChkIsNull data.firstName}}</span>
	<span class='subtitle'>
		{{#if data.email}}
			{{Email data.email}}
		{{/if}}
	</span>
</span>