<div class="whatIsRedmic">
	<p>
		La política de&nbsp;REDMIC consiste en tomar un dato y, tras su homogenización y control de calidad, ubicarlo en el repositorio para que los usuarios puedan acceder a él y explotarlo, siguiendo la filosofía de <a href="https://es.wikipedia.org/wiki/Datos_abiertos" target="_blank">OpenData</a>. Los datos llegan a REDMIC porque han sido recopilados de fuentes públicas, por voluntad directa de los proveedores, o como fruto de las colaboraciones entre REDMIC y las entidades que los generan. REDMIC se limita a brindar el servicio de repositorio y no tiene competencia sobre los datos de terceros. La descarga, aportación y recuperación de datos en REDMIC es gratis.
	</p>
	<h3>Niveles de accesibilidad</h3>
	<p>
		<strong>Datos libres</strong>: Aparecen en el catálogo y los visores. Se pueden descargar sin restricción alguna más que el compromiso de dar crédito a la fuente cuando se empleen posteriormente.
	</p>
	<p>
		<strong>Datos embargados</strong>: El sistema ofrecerá a los investigadores un mecanismo de embargo temporal de sus datos para darles tiempo a que los publiquen. Este mecanismo es importante en el caso de que se llegue a regular la obligatoriedad de hacer públicos los datos de investigaciones financiadas con dinero público. Los datos no aparecen en el catálogo ni se podrán ver ni descargar hasta la fecha de liberación del embargo.
	</p>
	<p>
		<strong>Datos restringidos</strong>: Aquéllos datos de particulares que solo se pueden descargar con el consentimiento explícito por parte de la fuente. Aparecen en el catálogo general y serán visible si ello no compromete su acceso restringido. También serán restringidos los datos públicos sometidos a régimen de confidencialidad, en tanto éste dure.
	</p>
	<h3>
		<span>Ventajas de aportar datos a REDMIC</span>
	</h3>
	<p>
		<strong>Para los organismos públicos.</strong> Las Administraciones pueden encontrar en este repositorio un importante medio de difusión de sus datos o incluso de tenerlos agrupados, quedando la puerta abierta para suscribir los correspondientes convenios de colaboración y hacerlo de un modo regular y organizado. Los datos públicos serán de libre acceso una vez validados, salvo que penda sobre ellos alguna justificación que lo mantenga como restringidos.
	</p>
	<p>
		<strong>Para entidades privadas y particulares.</strong> Los particulares que decidan depositar sus datos en REDMIC y facilitar su uso a terceros, no solamente se acogerán al proceso de verificación y obtendrán una mayor visibilidad de sus trabajos, sino que al integrarlos con los demás del repositorio podrán combinarlos y realizar estudios de correlación por medio de las herramientas analíticas en servicio. También podrán obtener informes del uso de sus datos por terceros.
	</p>
	<h3>
		<span>Datos de carácter personal</span>
	</h3>
	<p>
		La información de carácter personal contendía en el registro de usuarios y contactos de RECMIC se mantiene según los requisitos y condiciones establecidos por la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal.
	</p>
</div>
