<div class="termConditionContainer">
	<div class="termCondition">
		<div class="contentTermCondition">
			<h3></h3>
			<p>REDMIC se ha diseñado para poder incorporar información marina de muy diferente tipo, generada por distintas organizaciones y con diferentes instrumentos (metadatos). La unidad de trabajo es la actividad que genera los datos, que a su vez se pueden agrupar en proyectos y éstos en programas. Las actividades se gestionan según tipos de actividades en función de la naturaleza del dato. Los tipos contempladas por REDMIC son las siguientes (actualmente en proceso de incorporación progresiva):</p>
			<div>
				<ul class="col-xs-12 col-sm-12 col-md-4 col-lg-4 noPadding">
					<li>Datos geológico-geomorfológicos
						<ul>
							<li>Levantamientos batimétricos</li>
							<li>Granulometría y morfología de partículas</li>
							<li>Estudios mineralógicos</li>
							<li>Tipología del lecho marino</li>
							<li>Perfiles estratigráficos</li>
							<li>Sismicidad</li>
						</ul>
					</li>
					<li>Datos hidrológico-climatológicos
						<ul>
							<li>Línea de costa</li>
							<li>Medición de mareas</li>
							<li>Medición de la corriente</li>
							<li>Medición de oleaje</li>
							<li>Desplazamiento de masas de agua</li>
							<li>Condiciones meteorológicas</li>
							<li>Tasas de sedimentación y erosión</li>
						</ul>
					</li>
					<li>Datos fisicoquímicos
						<ul>
							<li>Medición in situ</li>
							<li>Análisis de aguas</li>
							<li>Análisis de sedimentos</li>
						</ul>
					</li>
				</ul>
				<ul class="col-xs-12 col-sm-12 col-md-4 col-lg-4 noPadding">
					<li>Datos biológicos
						<ul>
							<li>Análisis microbiológico</li>
							<li>Inventario y monitorización de especies</li>
							<li>Inventarios moleculares y genómica</li>
							<li>Volcado de citas bibliográficas</li>
							<li>Registro de colecciones</li>
							<li>Censos y avistamientos</li>
							<li>Localización de stocks</li>
							<li>Seguimiento de animales</li>
							<li>Marcaje de animales</li>
							<li>Recuperación de animales perjudicados</li>
							<li>Análisis genéticos, bioquímicos y toxicológicos</li>
							<li>Biometrías y desarrollo biológico</li>
							<li>Estudios del plancton</li>
							<li>Producción biológica</li>
							<li>Levantamientos bionómicos</li>
							<li>Inventarios de hábitat</li>
							<li>Seguimiento de mareas rojas</li>
						</ul>
					</li>
				</ul>
				<ul class="col-xs-12 col-sm-12 col-md-4 col-lg-4 noPadding">
					<li>Elementos antrópicos
						<ul>
							<li>Demarcaciones jurisdiccionales</li>
							<li>Áreas protegidas</li>
							<li>Zonificación de usos</li>
							<li>Infraestructuras</li>
							<li>Arqueología</li>
							<li>Derrames y vertidos</li>
							<li>Basuras</li>
							<li>Navegación</li>
							<li>Tráfico marítimo</li>
						</ul>
					</li>
					<li>Aprovechamientos
						<ul>
							<li>Pesca y marisqueo</li>
							<li>Maricultura</li>
							<li>Arenas, minerales e hidrocarburos</li>
						</ul>
					</li>
					<li>Casos especiales
						<ul>
							<li>Eventos singulares</li>
							<li>Telemetría</li>
							<li>Captura de imágenes</li>
							<li>Registros sonoros</li>
							<li>Modelos</li>
							<li>Estado de los dispositivos</li>
						</ul>
					</li>
				</ul>
			</div>
			<h3>
				<span>Geometrías</span>
			</h3>
			<p>
				El universo de datos marinos es muy amplio, variado y complejo. Comprende datos paramétricos, conteos, atributos, datos ráster, de modelización, de infraestructuras, etcétera, y además es dinámico al incorporar cuatro dimensiones relacionadas con su ubicación (x, y, z, t). Para incorporar datos marinos en el sistema de información geográfica se han empleado las geometrías básicas Common Marine Data Types (Wright <em>et al.</em> 2000), complementadas por el OAG para REDMIC:
			</p>
			<p>
				<span>
					<img style="margin-right: auto; margin-left: auto; vertical-align: middle; display: block;" src="/resources/images/redmic_tabla_geometrias.jpg" alt="redmic tabla geometrias" width="50%" >
				</span>
			</p>
		</div>
	</div>
</div>