<div class="whatIsRedmic">
	<p>
		La obtención de datos marinos es un proceso económicamente muy costoso, y por mera eficiencia ha de imperar el principio de obtener el dato una vez y usarlo muchas veces; máxime, si ha sido financiado con fondos públicos. Esto se puede organizar dentro de un mismo repositorio integrado, o facilitando el acceso a los datos desde otros sistemas gracias a protocolos de interoperabilidad. REDMIC sigue ambas vías.
	</p>
	<p>
		A tal fin, se han elegido los estándares de SeaDataNet (Pan-European Infrastructure for Ocean &amp; Marine Data Management) en el contexto de la IODE (International Oceanographic Data and Information Exchange) conforme con la Directiva INSPIRE y la EMODNET que prevé la nueva Estrategia Marina Europea.
	</p>
	<p>
		El referente directo adoptado para los códigos de especies y status taxonómico es el DarwinCore, ya que las bases de datos se nutren de él y siguen sus criterios estándar. Es el más generalizado y el que emplea WORMS (Word Register of Marine Species), sistema con el que REDMIC se coordina en línea.
	</p>
	<p>
		<strong>Estándares adoptados por REDMIC</strong>
	</p>

	<table style="width: 85%; height: 111px; margin-right: auto; margin-left: auto; color: black; background-color: #eee;" border="1" cellspacing="0" cellpadding="5">
		<tbody>
			<tr>
				<td valign="top" width="266">
					<p>Data</p>
				</td>
				<td valign="top" width="614">
					<p>NetCDF Format (Network Common Data Format).</p>
				</td>
			</tr>
			<tr>
				<td valign="top" width="266">
					<p>Metadata</p>
				</td>
				<td valign="top" width="614">
					<p>Standard ISO-19115:2003 and Standard ISO-19119:2005</p>
				</td>
			</tr>
			<tr>
				<td valign="top" width="266">
					<p>Services</p>
				</td>
				<td valign="top" width="614">
					<p>REST</p>
				</td>
			</tr>
			<tr>
				<td valign="top" width="266">
					<p>Geocode</p>
				</td>
				<td valign="top" width="614">
					<p>WGS84 EPSG 4326</p>
				</td>
			</tr>
			<tr>
				<td valign="top" width="266">
					<p>Vocabulary</p>
				</td>
				<td valign="top" width="614">
					<p>MMI (Marine Metadata Interoperability Semantic Framework)</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
