<div class="whatIsRedmic">
	<p>
		<strong>REDMIC (Repositorio de datos marinos integrados de Canarias)</strong> es un sistema permanente de almacenamiento sistemático, custodia y servicio de datos marinos, que sigue la filosofía OpenData. Se ha diseñado para Canarias y, por extensión, la Macaronesia, pero se ha concebido como proyecto piloto de cara a poder ser replicado en otras regiones y, con el tiempo, a que sirva también para gestionar un repositorio público a modo de catastro de información marina.
	</p>
	<p>
		La novedad que ofrece REDMIC es que los datos marinos, sean del tipo que sean (oceanográficos, tráfico marítimo, biodiversidad, etc.), se incorporan de modo integrado en un mismo sistema de información geográfica, con lo que el esfuerzo de ponerlos en común se hace una sola vez al principio, para que luego pueden ser usados y combinados cuantas veces se desee con la máxima agilidad. Lo novedoso es el modelo lógico de datos que permite tal integración, desarrollado a partir de Arc Marine. Es como disponer de un único libro gigantesco, en vez de una biblioteca formada por infinidad de libros menores (datasets individuales).
	</p>
	<p>
		Los principios que han inspirado REDMIC son:
	</p>
	<ul>
		<li>Explotabilidad: facilitar el uso sucesivo de los datos.</li>
		<li>Generatividad: almacenar los datos de modo que se maximice su uso potencial.</li>
		<li>Trazabilidad: aportar información asociada a la obtención de los datos originales y permitir conocer sus modificaciones.</li>
		<li>Publicidad: sistema para la custodia, armonización y servicio de datos financiados con fondos públicos.</li>
		<li>Replicabilidad: ofrecer un modelo apto para ser empleado en otros ámbitos marinos.</li>
		<li>Versatilidad: permitir su uso como repositorio de carácter general (todo tipo de datos) o como repositorio institucional (limitado a un tipo de información o producto).</li>
	</ul>
	<p>
		En las demás pestañas de esta sección se destacan algunas características de REDMIC.
	</p>
</div>