<div class="whatIsRedmic">
	<p>
		<strong>Depósito y custodia de datos.</strong> Los usuarios interesados pueden subir sus datos para que sean homogeneizados y custodiados. Existirá la posibilidad del mecanismo de embargo temporal frente al acceso libre y la cesión a terceros previo consentimiento explícito por el proveedor.
	</p>
	<p>
		<strong>Descarga de datos</strong>. Localización, selección y descarga de series de datos (libres) según actividades, en formato estándar.
	</p>
	<p>
		<strong>Conexión a datos</strong>. Permite a cualquier usuario externo acceder a REDMIC mediante su aplicación para consumir los datos que se ofrecen por esta vía.
	</p>
	<p>
		<strong>Elaboración de mapas</strong>. Los datos seleccionados pueden combinarse e ilustrarse sobre diferentes mapas base. El resultado puede imprimirse o guardarse. El sistema es muy flexible.
	</p>
	<p>
		<strong>Visualización gráfica de los datos.</strong> Las series de datos se pueden mostrar en gráficas interactivas que permiten modificar el rango temporal de forma dinámica.
	</p>
	<p>
		<strong>Herramientas analíticas</strong>. Aplicaciones procedentes de ArcGIS o compatibles, así como las elaboradas por REDMIC para casuísticas determinadas.
	</p>
	<p>
		<strong>Listados temáticos</strong>. Permite generar listados de información complementaria asociada a los datos (listas de especies, referencias bibliográficas, emisarios submarinos, etc.)
	</p>
	<p>
		<strong>Bibliografía marina.</strong>&nbsp; Consulta de publicaciones científicas almacenadas en REDMIC y alerta automática de nuevas publicaciones incorporadas.
	</p>
	<p>
		<strong>Documentos y mapas preparados</strong>. Descarga libre de listados y mapas elaborados por REDMIC sobre temas de especial interés.
	</p>
</div>
