<div class="whatIsRedmic">
	<p>
		<span>
			La arquitectura general del sistema REDMIC, con sus entradas y salidas, queda esquematizada en el diagrama adjunto que refleja el posible flujo de los datos.
		</span>
	</p>
	<p>
		<span>
			<img style="margin-right: auto; margin-left: auto; vertical-align: middle; display: block;" src="/resources/images/ArchitectureREDMIC.png" alt="redmic estructura" width="50%">
		</span>
	</p>
</div>