<div class="whatIsRedmic">
	<p>
		<span>
			Son usuarios potenciales de REDMIC toda persona o institución interesada en el medio marino. El portal es de acceso público pero será necesario registrarse como usuario para acceder a la descarga de datos y uso de funcionalidades. Este registro es importante como garantía de que los usuarios aceptan la política de datos y la licencia de usuario asociada.
		</span>
	</p>
	<p>
		<span>
			<img style="margin-right: auto; margin-left: auto; display: block;" src="/resources/images/redmic_opciones_usuario.JPG" alt="redmic opciones usuario" width="40%">
		</span>
	</p>
	<p>
		<span>
			<strong>Visitante</strong>. Accede, sin necesidad de registrarse, a la consulta y visualización de todos los contenidos de REDMIC que no estén restringidos. Podrá descargar mapas, gráficos y documentos que figuren en el área de “Productos elaborados”, pero no los datos brutos ni la bibliografía (solo las referencias).
		</span>
	</p>
	<p>
		<span>
			<strong>Usuario básico</strong>. Necesita registrarse con un email y aceptar la política de datos de REDMIC. Podrá acceder a los módulos de descarga de los datos libres y bibliografía, así como al módulo de alertas.
		</span>
	</p>
	<p>
		<span>
			<strong>Depositante de datos</strong>. Tiene los mismos derechos que el usuario básico y además podrá depositar sus datos en REDMIC. Deberá completar los datos personales (dirección, organización, etc.), ceder el uso de los datos, fijar el período de embargo temporal, si es el caso, o si reclama consentimiento previo a la cesión, caso a caso. Tiene derecho a recibir un certificado de depósito de sus datos y, eventual&shy;mente, informe sobre su uso por terceras partes.
		</span>
	</p>
	<p>
		<span>
			<strong>Colaborador</strong>. Usuario avanzado que firma un convenio específico de colaboración con REDMIC. Además de los derechos del usuario básico y depositante de datos, tendrá acceso a los módulos analíticos y demás funcionalidades específicas de REDMIC, según acuerdo.
		</span>
	</p>
</div>
