<span class='spanTemplate'>
	<span class='title'>
		<span class='name'>{{ChkIsNull data.name}} </span>
	</span>
	<span class='subtitle'>
		{{#if data.taxon}}
			{{data.taxon.scientificName}}
		{{/if}}
		{{#if data.taxonomy}}
			{{data.taxonomy.scientificName}}
		{{/if}}
	</span>
</span>
