<span class='spanTemplate'>
	<span class='subtitle'>
		{{i18n.email}}
	</span>
	<span class='title'>
		<span class='name'>
			{{#if data.email}}
				{{ChkIsNull data.email}}
			{{/if}}
		</span>
	</span>
</span>