<span class='spanTemplate'>
	<span class='subtitle'>
		{{i18n.name}}
	</span>
	<span class='title'>
		<span class='name'>
			{{#if data.firstName}}
				{{ChkIsNull data.firstName}} {{ChkIsNull data.lastName}}
			{{/if}}
		</span>
	</span>
</span>