<span class='spanTemplate'>
	<span class='subtitle'>
		{{i18n.password}}
	</span>
	<span class='title'>
		<span class='name'>
			{{#if data.password}}
				{{ChkIsNull data.password}}
			{{/if}}
		</span>
	</span>
</span>