<span class='spanTemplate'>
	<span class='subtitle'>
		{{i18n.userSector}}
	</span>
	<span class='title'>
		<span class='name'>
			{{#if data.sector}}
				{{lang data.sector}}
			{{else}}
				<br/>
			{{/if}}
		</span>
	</span>
</span>