<span class='spanTemplate'>
	<span class='title'>
		{{data.nombre}}
	</span>
	<span class='subtitle'>
		{{data.localizacion}}
	</span>
	<span class='subtitle'>
		{{data.clasificacion}}
	</span>
</span>