<span class='spanTemplate'>
	<span class='title'>
		<span class='name'>{{ChkIsNull data.parent.name}} </span>
	</span>
	<span class='subtitle'>
		({{data.children.length}} {{i18n.elements}})
	</span>
</span>