<span class='spanTemplate'>
	<span class='subtitle'>
		{{#if this.author}}
			{{this.author}}
		{{/if}}
		{{#if this.year}}
			 ({{this.year}})
		{{/if}}
	</span>
	<span class='title inlineRow'>
		<span class='name'>{{ChkIsNull this.title}} </span>
	</span>
</span>