<object type='{{data.objectType}}' data='{{data.url}}' class='{{data.className}}' typemustmatch>
	<div class='missingEmbeddedContent'>
		<i class='fa fa-eye-slash'></i>
		<span>{{i18n.missingEmbeddedContent}}</span>
	</div>
</object>
