<span class='spanTemplate'>
	<span class='title'>
		<span class='name'>{{ChkIsNull data.name}} </span>
	</span>
	<span class='subtitle'>
		{{#if data.date}}
			{{DateTime data.date}}
		{{/if}}
	</span>
</span>