<div>
	<form class="form-horizontal multiFieldsetForm">
		<div data-redmic-type="dateRangeTextBox" data-redmic-model="dateLimits" data-redmic-props="
			info: 'dateLimitsFilterInfo'
		"></div>
	</form>
</div>
