<div class="box">
	<div class="contentInfo">
		{{#if data.roleGuest}}
			{{data.roleGuest}}
			<a href="/register">{{data.register}}</a>
		{{/if}}
		{{data.info}}
		<a href="/feedback">{{i18n.formContact}}.</a>
	</div>
</div>
