<span class='spanTemplate'>
	<span class='title' title='{{data.label}}'>
		<span class='scientificName'>{{ChkIsNull data.label}} </span>
	</span>
	<span class='subtitle' title='{{data.activity.code}}'>
		{{data.activity.code}}
	</span>
</span>