<span class='spanTemplate'>
	<span class='title'>
		<span class='name'>{{ChkIsNull data.firstName}} {{ChkIsNull data.lastName}}</span>
	</span>
	<span class='subtitle'>
		{{data.role.name}} - {{ChkIsNull data.email}}
	</span>
</span>