{{Image this.image}}
<span class='spanTemplate'>
	<span class='title'>{{this.name}}</span>
	{{#if this.platformType}}
		<span class='subtitle'>
			{{lang platformType}}
		</span>
	{{/if}}
	</span>
</span>
