<span class='spanTemplate'>
	<span class='title'>
		<span class='name'>{{ChkIsNull data.name}}</span>
	</span>
	<span class='subtitle'>
		{{#if data.acronym}}
			{{data.acronym}} - 
		{{/if}}
		{{lang data.unitType}}
	</span>
</span>