<div class="productContainer">
	<div>
		<a href="{{data.href}}">
			<span class="{{data.name}}ProductIcon"></span>
		</a>
	</div>
	<div>
		<span>{{Translate i18n (concat data.name 'ProductName')}}</span>
		<span>{{Translate i18n (concat data.name 'ProductDescription')}}</span>
	</div>
</div>
